<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="log4net.Config" value="log4.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="Emails" value="test@gmail.com"/> <!-- use ; as separator-->
    <add key="RSSFeeds" value="http://feeds.bbci.co.uk/news/rss.xml"/>    <!-- use ; as separator-->
    <add key="SmtpServer" value="smtp.live.com"/>
    <add key="From" value="test@hotmail.com"/>
    <add key="Username" value="test@hotmail.com"/>
    <add key="Password" value="test"/>
    <add key="RefreshIntervalInMinutes" value="600"/>
  </appSettings>
</configuration>